/* ******************************************************************************************************/
/* CSS Reset */

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video { margin: 0; padding: 0; border: 0; vertical-align: baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display: block;}
body { line-height: 1;}
ol,ul { list-style: none;}
blockquote,q { quotes: none;}
blockquote:before,blockquote:after,q:before,q:after { content: ''; content: none;}
table { border-collapse: collapse; border-spacing: 0;}

/* ******************************************************************************************************/
/* Universal styling */

@font-face {
  font-family: 'Fredoka';
  src: url('./assets/fonts/Fredoka-VariableFont.ttf') format('opentype');
}

* {
  box-sizing: border-box;
}

:root{
  --small-spacing: 0.25rem;
  --large-spacing: 0.5rem;
  --header-size: 3rem;
  --logo-size: 1.5rem;
}

header {
  /* Lay all children horizontally and push them to edges */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .nav-logo {
    & .nav-logo-links{ 
      /* Keep child items left justified and arranged horizontally */
      display: flex;
      justify-content: left;
      align-items: center;

      /* Remove standard blue/purple highlight and underline */
      text-decoration: none;
      color: inherit;

      & .nav-logo-icon{
        /* Height of header defined by icon size */
        height: var(--header-size);
        aspect-ratio: 1;

        /*Icon url and tiling */
        background-image: url('./assets/icons/vegetables.png');
        background-size: contain;
        background-repeat: no-repeat;
      }

      /*Logo font styling*/
      & .nav-logo-text{
        font-family: 'Fredoka', Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 1.5rem;
        color: rgb(140, 80, 40);
      }
    }
  }
  
  & .search-form {
    height: var(--header-size);
    flex: 1;
    min-width: 60%; /* Needed for proper flex-wrap behaviour */

    display: flex;

    & .search-text{
      flex: 1;
    }

    & button {
      background-image: url('./assets/icons/magnifier.png');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 1.5rem;
      width: 3rem;
    }
    
  }
  
  .nav-right{
    border: 1px solid red;
    display: flex; /* not sure why but this aligns the button horizontally*/

    & .user-account, & .cart{
      min-width: calc(2*var(--logo-size));
      display: flex;
      justify-content: center;

      & .icon {
        flex: 1;
        height: 100%;
        width: var(--logo-size);
        background-size: var(--logo-size);
        background-position: center;
        background-repeat: no-repeat;
      }

      & .text{
        height: 100%;
        display: none;
      }

    }

    & .user-account{
      & .icon {
        background-image: url('./assets/icons/profile-user.png');
      }
      
    }

    & .cart{
      & .icon {
        background-image: url('./assets/icons/shopping-cart.png');
      }
    }
  }
}


/* ******************************************************************************************************/
/* Mobile styling */

@media  (max-width: 854px) {

  html{
    min-width: 350px;   /* Required to prevent horrible wrapping below 350px */
  }
}

/* ******************************************************************************************************/
/* Tablet styling */
@media  (min-width: 854px) and (max-width: 1036px)  {

  html{
    min-width: 350px;   /* Required to prevent horrible wrapping below 350px */
  }

}

/* ******************************************************************************************************/
/* Tablet and desktop styling */
@media  (min-width: 854px) {

  /* At this point, the search bar should have stopped wrapping. So change order back to what it was */
  .nav-right{
    order: 1;
  }
}

/*desktop styling */
@media  (min-width: 1036px){

  /* Unhiding user/cart button text */
  header .nav-right {
    & .user-account, & .cart{
      & .text {
        display:flex;
        align-items: center;
      }
    }
  }

}